.tab-list {
  display: inline-block;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: steelblue;
  color: white;
  /* border: solid #ccc; */
  /* border-width: 1px 1px 0 1px; */
}

.tab-content {
  position: absolute;
}

.tabs {
  display: inline-block;
  position: relative;
  min-width: 250px;
  max-width: 500px;
}
